*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-color: black;
    height:100vh ;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../img/netflix-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    height:100px;
    width:100%;
}
.container>img{
    height: 100px;
    width:auto ;
    padding: 10px;
}
.container>select>.opt{
    height: 80px;
    width: 50%;
}
.container>select{
    background-color: transparent;
}
.content>h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    margin: auto;
    padding: 75px 5%;
    max-width: 640px;
}
.sign{
    position: top;
}
.redbutton{
    background-color: #e50914;
    padding: 7px 17px;
    text-decoration: none;
    color: white;
    float: right;
    margin: 30px;
    border-radius: 5px;
}
.redbutton>a:hover{
    color:black;
}
.opt{
    padding: 7px 17px;
    float: right;
    margin: 30px;
    background-color: transparent;
    color: #fff;
   
} 
.lable{
    height: 40px;
    min-width: 500px;
    padding: 10px 10px;
    width: 100%;
    align-items: center;
}
[type="email"]{
    border: 1px solid #fff;
    height: 60px;
    width: 50%;
    /* margin:0 auto; */
    display: table;
    /* margin-top:25px; */
    padding:10px 15px;
    border-radius:10px;
}
.get{
    background-color: #e50914;
    height: 60px;
    /* width: 15%; */
    padding: 7px 17px; 
    text-decoration: none;
    color: white;
    /* float: right; */
    /* margin-bottom: 100px; */
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.div{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 5px;
    margin: 20px;
}